@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quicksand-main{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;content: '';
    position: absolute;
    z-index: -1; /* Ensure it stays behind the form */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #a8acaf, rgb(193, 202, 209));
}


.overlay-box{
    display: flex;
    width: 100%;
    block-size: 95vh;
    margin: 2rem;
    padding: 25px;
    border-radius: 30px;
    background-color: #636d79;
    align-items: center;
    .inner-text{
        color: white;
    }
}

.right-overlay{
    display:flex;
    width: 80%;
    block-size: 95vh;
    margin: 1rem;
    padding: 25px;
    border-radius: 30px;
    background-color: white;
    box-shadow: #000000; /* fix */

    position: absolute;
    right:0;
    font-size: 24px;
    .user-text{
        font-size: xx-large;
        font-weight: 800;
    }
}

/* .overlay-container{
    display:flex;
    margin-right: 20px;
} */

.inner-text{
    color: black;
}

/* .top-layer-container{
    display: flex;
    justify-content: center;
    padding: 20rem;
    border-radius: 32px;
    width: 100%; 
    max-height: 90vh; 
    background-color: #f2f2f2;
} */