@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure padding and border are included in the element’s total width and height */
}

.diet-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: auto;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.diet-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/dietPref_PageBG.jpg");
    background-size: cover;
    background-position: center;
}

.diet-form-wrapper {
    background-color: rgba(119,136,153,0.5);
    padding: 20px;
    border-radius: 10px;
    width: 500px; /* Adjust width as needed */
    max-width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    flex-direction: column; /* Keeps content stacked vertically */
    display: flex; /* makes the dropdowns vertically stacked */
    gap: 9px; /* changes gap between dropdowns */

    /* helps with the overflow if user selects calorie deficit or surplus */
    max-height: 100%; 
    overflow: auto;

}

.diet-form-wrapper h2 {
    text-align: center;
}

.diet-test {
    font-size: 18px;
    font-family: "Quicksand", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400 !important;
    font-style: normal !important;
    padding: 15px;
}

.dd-title {
    padding-left: 10px;
}

.diet-title {
    font-size: 25px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.dropdown {
    width: 200px;          /* Adjust the width of each dropdown */
    padding: 10px;          /* Add padding for better appearance */
    font-family: 'Quicksand', sans-serif !important;  /* Font styling */
    font-size: 16px !important; 
    width: 100%;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.searchbox {
    font-family: 'Quicksand', sans-serif !important;  /* Font styling */
    font-size: 16px !important; 
}

.intake-dropdown {
    width: 200px;          /* Adjust the width of each dropdown */
    padding: 10px;          /* Add padding for better appearance */
    font-family: 'Quicksand', sans-serif !important;  /* Font styling */
    font-size: 16px !important; 
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.diet-btn {
    display: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.diet-input-box {
    width: 200px;         /* Adjust the width of each dropdown */
    padding: 10px;          /* Add padding for better appearance */
    font-family: 'Quicksand', sans-serif !important;  /* Font styling */
    font-size: 16px !important; 
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
} 

input[type="radio"]{
    margin: 10px 1px 0 17px;
  }