/* importing font */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
    --logo-color: #2E6F40;
    --sub-header-color: #3bf871;
}

* {
    margin: 0;
    padding: 0;
}

.rubik-doodle-shadow-regular {
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
}

.quicksand-main{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
  
.container {
    display: grid;
    overflow: hidden;
    min-height: 100vh;
}

.title-container{
    display: flex;
    overflow: hidden;
    margin-bottom: 20vh;
}

.container::before{
    content: '';
    position: absolute;
    background-size: cover;
    background-position: center;
    filter: blur(4px); /* Apply blur only to the background image */
    z-index: -1; /* Ensure it stays behind the form */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/signup_bgimage.jpg");
}

.title-text{
    color: var(--logo-color);
    font-size: 124px;
    filter: brightness(2.5);
    margin-left:10%;
    margin-top: 15%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    grid-auto-columns: 710px;
}

.sub-text{
    font-family: "Quicksand", sans-serif;
    font-size: 28px;
    justify-content: center;
    align-items: center;
    padding-left: 7vh;
    padding-bottom: 2vh;
    color: var(--sub-header-color);
}

.buttons{
    filter: brightness(.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 7vh;
    font-size: xx-large; /* this fixes (?) the spacing from the top... don't ask tbh*/
}


#mission{
    background-color: bisque;
    margin-top: 20vh;
    margin-bottom: 0vh;
    min-height: 110vh;
    display: flex;
    justify-content: center;
}

.sub-header{
    font-family: "Quicksand", sans-serif;
    color:black;
    padding: 12vh;
    font-size:48px
}

.main-text{
    font-family: "Quicksand", sans-serif;
    color:black;
    font-size: 20px;
    padding: 5vh;
}



