* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure padding and border are included in the element’s total width and height */
  }

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.signup-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/signup_bgimage.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(8px); /* Apply blur only to the background image */
    z-index: -1; /* Ensure it stays behind the form */
}

/* Sign up Box*/
.signup-form-wrapper {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 500px; /* Adjust width as needed */
    max-width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    flex-direction: column; /* Keeps content stacked vertically */
}


.signup-form-wrapper h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.test {
    font-size: 14px;
}

.title {
    font-size: 20px;
}

.input-box {
    padding: 10px;
}

/* .bg-image {
    

} */